/*
 *= require home
 *= require kumiwake.input
 *= require_tree .
 *= require_self
*/

/* ========================================
   共通設定
======================================== */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}